.cproject
.project
.cproject/
.project/
.settings/
.vscode/
sphereSimulator.VC.db
*.opendb
*.o
*.X
log*
ColXF
collisionXF/
*.mtx
*.X.dSYM/
*.vtk
*.xyz
*.d
.ipynb_checkpoints/
*.ipynb
Test/FMM/randomPoints
