.cproject
.project
.cproject/
.project/
.settings/
.vscode/
sphereSimulator.VC.db
**.opendb
**.o
**.X
log*
ColXF
collisionXF/
**.mtx
**.X.dSYM/
**.xyz
**.d
.ipynb_checkpoints/
**.ipynb
Test/FMM/randomPoints

**.vtu
**.pvtu
**.vtk
**.pvtk
**.vtp
**.pvtp
**.log
build/**
mobilitySolverInUse.xml
mobilitySolverInUse.yaml
