doc/
result/result*-*
result/*.tar.gz
result/*.avi
result/*.ogv

jobsub_*
runConfig_*
posInitial_*

.cproject
.project
.cproject/
.project/
.settings/
.vscode/
sphereSimulator.VC.db
*.opendb
*.o
*.X
log*
ColXF
collisionXF/
*.mtx
*.X.dSYM/
*.xyz
*.d
.ipynb_checkpoints/
*.ipynb
Test/FMM/randomPoints

*.vtu
*.pvtu
*.vtk
*.pvtk
*.vtp
*.pvtp
